<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitesh.dubey.helloiiitg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iiitg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iiitg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".InstructorLogin" />
        <activity android:name=".InstructorRegister" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentActivity"></activity>
    </application>

</manifest>